body {
  margin: 0;
}

.textarea-container {
  position:        relative;
  width:           100%;
  height:          100vh;
  display:         flex;
  align-items:     center;
  justify-content: center;

  & > textarea {
    caret-color: transparent !important;
    width:       70%;
    height:      70%;
  }
}

#virtual-caret {
  /* caret position */
  position: absolute;
  top:      0;
  left:     0;

  /* caret dimensions */
  height:           1em;
  width:            1.5px;
  background-color: red;
}
